* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inter, sans-serif;
  transition: background-color .3s, color .3s;
  display: flex;
  overflow-x: hidden;
}

:root {
  --bg-color: #f8f8f8;
  --text-color: #050505;
  --accent-color: #9bb537;
  --sidebar-bg-color: #9bb537;
}

.dark-theme {
  --bg-color: #050505;
  --text-color: #f8f8f8;
  --accent-color: #9bb537;
  --sidebar-bg-color: #050505;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.header {
  margin-top: 20px;
  display: flex;
}

.header-container-logo {
  gap: 160px;
  display: flex;
}

.header-icons {
  align-items: center;
  gap: 14px;
  display: flex;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  z-index: 10;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#open-sidebar {
  cursor: pointer;
}

#open-sidebar:hover {
  transition: all .3s;
  transform: scale(1.1);
}

.close-sidebar {
  cursor: pointer;
  background-color: #0000;
  border: none;
  position: relative;
  top: -187px;
  left: 131px;
}

.sidebar-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar-list {
  color: #fff;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  display: flex;
}

.theme-switch-sidebar {
  width: 50px;
  height: 20px;
  display: inline-block;
  position: relative;
  bottom: -197px;
  right: 112px;
}

.theme-switch-sidebar input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  transition: all .4s;
  position: absolute;
  inset: 0;
}

.slider:before {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transition: transform .4s;
  position: absolute;
  bottom: 2px;
  left: 4px;
}

input:checked + .slider {
  background-color: #cecdcd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.theme-switch, .header-list {
  display: none;
}

@media screen and (width >= 768px) {
  #open-sidebar {
    display: none;
  }

  .header-list {
    color: var(--text-color);
    gap: 15px;
    font-size: 12px;
    display: flex;
  }

  .header-list a {
    transition: transform .4s;
  }

  .header-list a:hover {
    color: var(--accent-color);
  }

  .header-container-logo {
    align-items: center;
    display: flex;
  }

  .theme-switch {
    width: 50px;
    height: 20px;
    display: inline-block;
    position: relative;
  }

  .theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    transition: background-color .4s;
  }

  .slider:before {
    transition: transform .4s;
  }

  input:checked + .slider {
    background-color: var(--accent-color);
  }
}

@media screen and (width >= 1280px) {
  .header-list {
    font-size: 14px;
  }

  .header-container-logo {
    gap: 384px;
  }
}
/*# sourceMappingURL=Tasty-Treats.77a9bc14.css.map */
